.env

# Mantém o arquivo .env.example
!.env.example

node_modules/
vendor/
bower_components/

*.log
*.sqlite
*.db

*.local

.idea/
.vscode/
*.swp
*.swo

.DS_Store
Thumbs.db

dist/
build/
out/
*.min.js
*.min.css

.cache/

venv/
.env/
.env.*
!.env.example

*.zip
*.tar.gz
*.rar

coverage/
.nyc_output/

package-lock.json
yarn.lock

composer.lock

__pycache__/
*.pyc
*.pyo
*.pyd
.Python
